<style>
.sqs-block { 
      margin-left: -30px; 
      margin-right: -30px; 
      margin-top: -30px; 
      margin-bottom: -30px; 
      }
      
input{ 
      margin-left: 5px; 
      margin-right: 5px; 
      margin-top: 5px; 
      margin-bottom: 5px; 
      }
      
      
      /*-- Global Selectors --*/
a{
    color:#47649F;
}
body{
    font-family:'cursive';  
    font-size: 20px;  
}
/*-- Bootstrap Override Style --*/
/*-- Content Style --*/
.post-footer-option li{
    float:left;
    margin-right:50px;
    padding-bottom:15px;
}
.post-footer-option li a{
    color:#AFB4BD;
    font-weight:500;
    font-size:1.3rem;
}
.photo-profile{
    border:1px solid #DDD;    
}
.anchor-username h4{
    font-weight:bold;    
}
.anchor-time{
    color:#ADB2BB;
    font-size:1.2rem;
}
.post-footer-comment-wrapper{
    background-color:#F6F7F8;
}
      </style>
 <h4> EVENT VIEW</h4>    
      <div data-ng-controller="blogcontroller">
<div class="card card-1" style="margin-top:5vh;margin-left: 5vh;margin-right: 5vh">


	<div class="col-md-12">
        
               <section class="post-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="media">
                              <div class="media-left">
                              <h2 style="font-size:25px" ><b>{{gevent.eventname}}</b></h2>
                              </div>
                              <div class="media-left">
                              <h2>AT:  {{gevent.eventvenue}}</h2>
                              </div>
                            </div>
                        </div>
                    </div>  
<div class="row">
    <div class="col s12">
   {{gevent.eventdesc}}
    </div>
    </div>
    </section>
          <div  data-ng-if="evecheck.length > 0">
                                          <div class="media-right">
                             <button  style="width:95%">YOU ARE GOING THIS EVENT</button>
                              </div>
                            </div>
                                <div  data-ng-if="evecheck.length  < 1">
                                          <div class="media-right">
                             <a data-ng-click="applyevent(gevent.eventid)"><button  style="width:95%">INTERESTED</button></a>
                              </div>
                         </div>
                         
                         
                         <section class="post-footer">
                    <div class="post-footer-option container">
                        <ul class="list-unstyled">
                        
                         <li><div  data-ng-show="currentuser.role=='ROLE_ADMIN' && gevent.status=='A'"><a href="" data-ng-click="rejecteventrequests(gevent.eventid)"><img data-ng-src="http://localhost:8080/SOCIALFRONTEND/resources/images/reject.png" style="width:50px;height:50px">REJECT</a></div></li>
                           <li>     <div  data-ng-show="currentuser.role=='ROLE_ADMIN' && gevent.status=='P'"><a href="" data-ng-click="accepteventrequests(gevent.eventid)"><img data-ng-src="http://localhost:8080/SOCIALFRONTEND/resources/images/approve.jpg" style="width:50px;height:50px">APPROVE</a></div></li>                              
                            <li>    <div  data-ng-show="currentuser.role=='ROLE_ADMIN' && gevent.status=='R'"><a href="" data-ng-click="accepteventrequests(gevent.eventid)"><img data-ng-src="http://localhost:8080/SOCIALFRONTEND/resources/images/approve.jpg" style="width:50px;height:50px">APPROVE</a></div></li>
                        <li> <div  data-ng-show="currentuser.email==gevent.username"><a href="" data-ng-click="fetcheventforedit(gevent.eventid)"><img data-ng-src="http://localhost:8080/SOCIALFRONTEND/resources/images/edit.ico" style="width:50px;height:50px">EDIT</a></div></li>
                         <li><div  data-ng-show="currentuser.email==gevent.username"><a href="" data-ng-click="deleteevent(gevent.eventid)"><img data-ng-src="http://localhost:8080/SOCIALFRONTEND/resources/images/reject.png" style="width:50px;height:50px">DELETE</a></div></li>
                        
                        </ul>
                        </div>
                        </section>
                                       
                         
                    
               <section class="post-footer">
                   <hr>
                  
                   <div class="post-footer-comment-wrapper">
                   PARTICIPANTS
                       <div data-ng-repeat="eve in eventpars">
                       <div class="comment">
                            <div class="media">
                              <div class="media-left">
                                <a href="#">
                                  <img class="media-object photo-profile" data-ng-src="http://localhost:8080/SOCIALFRONTEND/resources/images/{{eve.email}}.jpg" onerror="this.src='http://localhost:8080/SOCIALFRONTEND/resources/images/ava.jpg'" width="32" height="32" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                               {{eve.email}}
                              </div>
                            </div>
                       </div>
                       </div>
                   </div>
               </section>
               
       
        </div>   

</div>

</div>